* {
  box-sizing: border-box
}

body {
  font-family: "Montserrat";
  display: grid;
  height: 99vh;
  grid-template-areas:  "aside header"
                        "aside main";
  grid-template-rows: 250px 1fr;
  grid-template-columns: .15fr 2fr;
}

aside {
  grid-area: aside;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
}
aside i {
  color: #c7c8c8;
  font-size: 28px;
}

header {
  grid-area: header;
  background-color: blue;
  display: grid;
  grid-template-columns: 225px 3fr;
}

.profile {
  background-image: url('./assets/Pemba.png');
  background-size: cover;
  background-position: center;
}

main {
  display: grid;
  grid-area: main;
  background-color: green;
  grid-template-columns: 225px 1fr .8fr;
}

.summary {
  background-color: #047ec9;
  padding-top: 30px;
  color: #fff;
}

.bottom-header {
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 75px;
  text-align: center;
  margin: 0;
}

.summary h2 {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: #174785;
  margin-left: -7px;
  letter-spacing: 3.2px;
}

.top {
  display: flex;
}

h3 {
  font-weight: bolder;
}

.sub-summary {
  display: flex;
  align-items: center;
}

.num {
  font-size: 36px;
  margin: 0px;
  margin-left: 15px;
}

.bio {
  padding: 13px;
}

.calendar {
  background-color: gray;
}

.calendar h2 {
  color: #484848;
}

.goals {
  background-color: #1a202c;
}
/* 
.goals div {
  border-left: solid 15px #047ec9;
} */

.all-goals {
  display: grid;
  grid-template-rows: 130px 130px 130px;
  grid-gap: 20px;
}
/* 
.goals p {
  border-left: solid 16px #047ec9;
  margin-bottom: 0;
  font-style: italic;
  background-color: #252525;
  color: #646464;
  height: 32px;
  padding-left: 15px;
  padding-top: 5px;
} */

.goals h4 {
  display: inline;
}

.run-goal {
  display: flex;
}

.goals h2 {
  color: #28324a;
  font-family: "Barlow Condensed";
  font-weight: 500;
}
/* 
.run-goal {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
} */
