* {
  box-sizing: border-box
}

body {
  display: grid;
  height: 99vh;
  grid-template-areas:  "aside header"
                        "aside main";
  grid-template-rows: 250px 1fr;
  grid-template-columns: .15fr 2fr;
}

aside {
  grid-area: aside;
  background-color: red;
}

header {
  grid-area: header;
  background-color: #bbdd00;
  display: grid;
  grid-template-columns: 200px 3fr;
}

.profile {
  background-image: url('./assets/Pemba.png');
  background-size: cover;
  background-position: center;
}

main {
  display: grid;
  grid-area: main;
  background-color: green;
  grid-template-columns: 200px 1fr .8fr;
}

.summary {
  background-color: pink;
  display: inline-block;
}

.calendar {
  background-color: gray;
  display: inline-block;
}

.goals {
  background-color: white;
  display: inline-block;
}

.log-sect {
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.fa-dumbbell,
.fa-running,
.fa-bicycle {
  font-size: 4em;
}

.percent-article {
  background-color:black;
  border-radius:  50%;
  height: 150px;
  width: 150px;
}

.circle-num,
.circle-word,
.circle-percent {
 color:white
}

.circle-num {
  font-size: 50px;
}


.circle-word,
.circle-percent {
  font-size: 25%; 

}


.log-word {
  font-family: “Barlow Condensed”;
  font-weight: 500;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}